<div [ngSwitch]="gameId" *ngIf="startGame">
  <h4>Hii {{playerId}}</h4>
  <jig-saw *ngSwitchCase='1'></jig-saw>

  <card-flip *ngSwitchCase='2' (gameComplete)="onGameComplete($event)"></card-flip>

  <app-quiz-question *ngSwitchCase='3' [gamePlayingId]="gamePlayingId" (gameComplete)="onGameComplete($event)"></app-quiz-question>
  <div *ngSwitchCase='404'>
    You have completed the game successfully. Results is with the admin contact him.
  </div>
  <div *ngSwitchDefault>
    Some Error Occured
  </div>
</div>

<div *ngIf="!startGame">

    Game not yet started wait a while!!!!!!!!!

</div>
